apiVersion: v1
kind: Service
metadata:
  name: node-local-dns
  namespace: kube-system
  labels:
    k8s-app: node-local-dns
spec:
  clusterIP: None
  ports:
  - name: metrics
    port: 9253
    protocol: TCP
    targetPort: 9253
  selector:
    k8s-app: node-local-dns
